@charset "UTF-8";

/*Обнуление*/

@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Racing+Sans+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Inter:wght@300&family=Racing+Sans+One&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Bold.woff2") format("woff2"), url("../fonts/CormorantUpright-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-Regular.woff2") format("woff2"), url("../fonts/CormorantUpright-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: CormorantUpright;
  font-display: swap;
  src: url("../fonts/CormorantUpright-SemiBold.woff2") format("woff2"), url("../fonts/CormorantUpright-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: TTTrailers;
  font-display: swap;
  src: url("../fonts/TTTrailers-Regular.woff2") format("woff2"), url("../fonts/TTTrailers-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background: #5A5A5A;
  font-size: 14px;
  color: white;
  line-height: 1.6;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.no-webp main{
  background: url("../img/left.png") left 0/contain no-repeat fixed, url("../img/right.png") right 0/contain no-repeat fixed; }

main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container {
  max-width: 1450px;
  margin: 0 auto;
  padding: 0px calc(15px + 85 * ((100vw - 320px) / 960));
}

main > div {
  height: 100%;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Header */

.header {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: -o-linear-gradient(3.41deg, #A01212 25.36%, #000000 43.26%);
  background: linear-gradient(86.59deg, #A01212 25.36%, #000000 43.26%);
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.logo__text {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: "Racing Sans One";
  font-style: normal;
  line-height: 1.4;
}

.logo__img {
  margin-right: 10px;
  width: 54px;
  height: 54px;
}

/* Navigation */

.nav {
  font-size: 18px;
  font-weight: 400;
  font-family: "Inter Tight";
}

.nav__link {
  display: inline-block;
  vertical-align: top;
  margin-left: 35px;
  position: relative;
  color: #DE0F3F;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav__link:after {
  content: "";
  display: block;
  width: 0%;
  height: 2px;
  border-radius: 10px;
  background-color: white;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 1;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  -webkit-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.nav__link:hover {
  color: white;
}

.nav__link:hover:after,
.nav__link.active:after {
  width: 100%;
  opacity: 1;
}

.nav__link.active {
  color: #DE0F3F;
}

/* Menu */

.menu {
  width: 45px;
  height: 45px;
  display: none;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.menu.opened {
  visibility: hidden;
}

/* Content */

.content {
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  width: 100%;
  padding: 0px calc(15px + 85 * ((100vw - 320px) / 960)) 30px calc(15px + 85 * ((100vw - 320px) / 960));
  gap: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content__title {
  font-size: 19px;
  font-weight: 300;
  color: #DE0F3F;
  font-family: "Racing Sans One";
  font-style: normal;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

.content__about > div {
  margin-bottom: 15px;
}

.content__about > div:last-child {
  margin-bottom: 0px;
}

.content__about > div:nth-child(even) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/* About */

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.about__text {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Inter";
  font-style: normal;
  text-align: justify;
}

.about__img {
  width: 150px;
  height: 150px;
}

.about__separation {
  height: 6px;
  background: #DE0F3F;
  border-radius: 19px;
}

/* Features */

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  display: flex;
}

.features__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 5px;
}

.features__ico {
  width: 100px;
  height: 100px;
}

.features__text {
  font-size: 16px;
  font-weight: 300;
  color: white;
  font-family: "Inter";
  font-style: normal;
  text-align: justify;
}

/* Footer */

.footer {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background: -o-linear-gradient(183.8deg, #A01212 28.33%, #000000 46.86%);
  background: linear-gradient(266.2deg, #A01212 28.33%, #000000 46.86%);
}

.footer > div {
  height: 100%;
}

.footer__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  gap: 5px;
}

.footer__text {
  font-size: 14px;
  font-weight: 100;
  color: #DE0F3F;
  font-family: "Inter Tight";
  font-style: normal;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}

.footer__logo__img {
  margin-left: 10px;
  width: 46px;
  height: 46px;
}

/* Gallery */

.gallery__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__img {
  border-radius: 20px;
  width: 300px;
  height: 200px;
  margin: 20px 20px 20px 20px;
  cursor: pointer;
}

@media (max-width: 900px) {
  .content__about > div:nth-child(even) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .about {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 768px) {
  .nav {
    position: absolute;
    top: 0;
    right: 0;
    visibility: hidden;
    background-color: transparent;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    overflow: hidden;
  }

  .nav__link {
    margin-left: 0px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
    padding: 20px;
    -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
            transform: translate(100%, 0);
  }

  .nav__link.first {
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    border: solid #A01212;
    border-width: 2px 2px 2px 2px;
  }

  .nav__link.second {
    -webkit-transition: all 0.4s ease-in-out 0.1s;
    -o-transition: all 0.4s ease-in-out 0.1s;
    transition: all 0.4s ease-in-out 0.1s;
    border: solid #A01212;
    border-width: 0px 2px 2px 2px;
  }

  .nav__link.therd {
    -webkit-transition: all 0.3s ease-in-out 0.2s;
    -o-transition: all 0.3s ease-in-out 0.2s;
    transition: all 0.3s ease-in-out 0.2s;
    border: solid #A01212;
    border-width: 0px 2px 2px 2px;
  }

  .nav__link.end {
    -webkit-transition: all 0.2s ease-in-out 0.3s;
    -o-transition: all 0.2s ease-in-out 0.3s;
    transition: all 0.2s ease-in-out 0.3s;
    border-radius: 0px 0px 0px 10px;
    border: solid #A01212;
    border-width: 0px 2px 2px 2px;
  }

  .nav__link::after {
    background-color: transparent;
  }

  .nav.opened {
    visibility: visible;
  }

  .nav.opened .nav__link {
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
  }

  .menu {
    display: block;
  }
}

@media (max-width: 610px) {
  .features__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
}

@media (max-width: 500px) {
  main {
    background: none;
  }

  .container.mb_nopadding {
    padding: 0px 0px;
  }
}

@media (max-width: 400px) {
  .footer__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 370px) {
  .features__row {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: (auto)[4];
    grid-template-rows: repeat(4, auto);
  }
}

.webp main{ background: url(../img/left.webp) left 0/contain no-repeat fixed, url(../img/right.webp) right 0/contain no-repeat fixed; }