@import "nullstyle";
@import "fonts";

@import url('https://fonts.googleapis.com/css2?family=Inter&family=Inter+Tight:wght@800&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Racing+Sans+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@800&family=Inter:wght@300&family=Racing+Sans+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$maxWidth: 1280;//верхнее пиковое знач на ширине экрана 1280px
@function adptVal($pcSize, $mbSize) {
	// vw = viewport Width = ширина экрана
	// при vw = 1280px, return pcSize;
	// при vw = 320px, return mbSize;
	$addSize: $pcSize - $mbSize;
	$maxWidth: $maxWidth - 320;

	// if(vw > 1280px) {значение return будет равномерно увеличиваться сверх pcSize}
	@return calc(#{$mbSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

body{
    background: #5A5A5A;
    font-size: 14px;
    color:white;
    line-height: 1.6;
}

.wrapper{
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

main{
    flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	background: url('../img/left.png') left 0/contain no-repeat fixed ,url('../img/right.png') right 0/contain no-repeat fixed;
	@media (max-width: 500px) {
		background: none;
	}
}

.webp main{
	@media (max-width: 500px) {
		background: none !important;
	}
}

.container {
    max-width: 1450px;
    margin: 0 auto;
    padding: 0px adptVal(100, 15);

	&.mb_nopadding{
		@media (max-width: 500px) {
			padding: 0px 0px !important;
			margin: 0px;
		}
	}
}

main>div{
    height: 100%;
	min-height: 100%;
	flex: 1 1 auto;
	display: flex;
}

/* Header */
.header {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    background: linear-gradient(86.59deg, #A01212 25.36%, #000000 43.26%);

	&__inner{
		display: flex;
    	justify-content: space-between;
    	align-items: center;
	}
}

.logo {
    display: flex;
    cursor: pointer;

	&__text{
		font-size: 18px;
    	font-weight: 400;
    	color: #fff;
    	font-family: 'Racing Sans One';
    	font-style: normal;
		line-height: 1.4;
	}

	&__img{
		margin-right: 10px;
		width: 54px;
		height: 54px;
	}
}

/* Navigation */
.nav {
    font-size: 18px;
    font-weight: 400;
    font-family: 'Inter Tight';

	&__link {
		display: inline-block;
		vertical-align: top;
		margin-left: 35px;
		position: relative;
	
		color: #DE0F3F;
		text-decoration: none;
	
		transition: all .3s ease-in;
	}

	&__link:after {
		content: "";
		display: block;
		width: 0%;
		height: 2px;
		border-radius: 10px;
	
		background-color: white;
		opacity: 0;
	
		position: absolute;
		top: 100%;
		left: 50%;
		z-index: 1;
		transform: translate(-50%,0);
	
		transition: all .3s ease-in;
	}
	
	&__link:hover {
		color: white;
	}
	
	&__link:hover:after,
	&__link.active:after {
		width: 100%;
		opacity: 1;
	}
	
	&__link.active {
		color: #DE0F3F;
	}

	@media (max-width: 768px) {
		position: absolute;
		top: 0;
		right: 0;
		visibility: hidden;
		background-color:transparent;
		display: flex;
		flex-direction: column;

		overflow: hidden;

		&__link{
			margin-left: 0px;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.85);
			padding: 20px;

			transform: translate(100%, 0);
			
			&.first{
				transition: all .5s ease-in-out;
				border:solid #A01212;
				border-width: 2px 2px 2px 2px;
			}
			&.second{
				transition: all .4s ease-in-out .1s;
				border:solid #A01212;
				border-width: 0px 2px 2px 2px;
			}
			&.therd{
				transition: all .3s ease-in-out .2s;
				border:solid #A01212;
				border-width: 0px 2px 2px 2px;
			}
			&.end{
				transition: all .2s ease-in-out .3s;
				border-radius: 0px 0px 0px 10px;
				border:solid #A01212;
				border-width: 0px 2px 2px 2px;
			
			}

			&::after{
				background-color: transparent;
			}
		}
		&.opened{
			visibility: visible;
			.nav__link{
				transform: translate(0, 0);
			}
		}
	}


}

/* Menu */
.menu{
	width: 45px;
	height: 45px;
	display: none;
	transition: all .2s ease-in-out;

	@media (max-width: 768px) {
		display: block;
	}
	
	&.opened{
		visibility: hidden;
	}
}


.header__inner>picture{
	display: none;
	@media (max-width: 768px) {
		display: block;
	}
}

/* Content */
.content{
    background: rgba(0, 0, 0, 0.7);
    margin: 0 auto;
	width: 100%;
    padding: 0px adptVal(100, 15) 30px adptVal(100, 15);
	gap: 15px;
	display: flex;
	flex-direction: column;

	&__title{
		font-size: 25px;
    	font-weight: 300;
    	color: #DE0F3F;
    	font-family: 'Lobster';
    	font-style: normal;
		padding-top: 25px;
		padding-bottom: 25px;
		text-align: center;
	}
	&__about{
		&>div{
			margin-bottom: 15px;
			&:last-child{
				margin-bottom: 0px;
			}
			&:nth-child(even){
				flex-direction: row-reverse;
				@media (max-width: 900px) {
					flex-direction: column;
				}
			}
		}
	}
}

/* About */
.about{
	display: flex;
	align-items: center;
	gap: 30px;
	
	@media (max-width: 900px) {
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
	}

	&__text{
		font-size: 16px;
    	font-weight: 300;
    	color: white;
    	font-family: 'Inter';
    	font-style: normal;
		text-align: justify;
	}
	
	&__img{
		border-radius: adptVal(20, 9);
		width: adptVal(270, 180);
		height: adptVal(180, 120);
	}

	&__separation{
		height: 6px;
		background: #DE0F3F;
		border-radius: 19px;
	}
}

/* Features */
.features{
	display: flex;
	align-items: center;
	gap: 30px;

	box-sizing: border-box;
	justify-content: center;
	position: relative;
    flex-wrap: wrap;
    display: flex;

	&__row{
		display: flex;
		justify-content: space-evenly;
		gap: 15px;

		align-items: flex-start;
		flex-wrap: wrap;;

		@media (max-width: 610px) {
		  display: grid;
		  grid-template-columns: 1fr 1fr;
		  grid-template-rows: auto auto;
		}
		@media (max-width: 370px) {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: repeat(4,auto);
		  }
	}

	&__item{
		flex: 0 1 20%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}

	&__ico{
		width: 100px;
		height: 100px;
	}

	&__text{
		font-size: 16px;
    	font-weight: 300;
    	color: white;
    	font-family: 'Inter';
    	font-style: normal;
		text-align: center;
	}
}

/* Footer */
.footer{
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
	

	&>div{
		height: 100%;
	}

    background: linear-gradient(266.2deg, #A01212 28.33%, #000000 46.86%);

	&__inner{
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
		gap: 5px;
		/*@media (max-width: 400px) {
			flex-direction: column;
		}*/
	}
	
	&__text{
		align-self: flex-start;
		font-size: 14px;
		font-weight: 100;
		color: #DE0F3F;
		font-family: 'Inter Tight';
		font-style: normal;
		@media (max-width: 402px) {
			font-size: 13px;
		}
	}
	
	&__logo{
		align-self: flex-end;
		display: flex;
		cursor: pointer;
	}
	&__logo__img{
		margin-left: 10px;
		width: 46px;
		height: 46px;
		@media (max-width: 402px) {
			margin-left: adptVal(30, 5);
			width: adptVal(170, 36);
			height: adptVal(170, 36);
		}
		&.opened{
			visibility: hidden;
		}
	}
}

/* Gallery */
	
.gallery{
	&__row{
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
	}
	&__img{
		border-radius: adptVal(20, 9);
		width: adptVal(270, 135);
		height: adptVal(180, 90);
		margin: adptVal(20, 5) adptVal(20, 5) adptVal(20, 5) adptVal(20, 5);;
		cursor: pointer;
	}
	}

/* Contacts */

.contacts{
	display: flex;
	align-items: center;
	gap: 30px;

	box-sizing: border-box;
	justify-content: space-between;
    flex-wrap: wrap;
    display: flex;

	&__row{
		display: flex;
		justify-content: space-evenly;
		gap: 15px;
		width: 100%;

		align-items: flex-start;
		flex-wrap: wrap;;
	}

	&__item{
		flex: 0 1 20%;
		display: flex;
		justify-content: flex-start;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}

	&__avatar{
		width: 200px;
		height: 200px;
		border-radius: 15px;
	}

	&__text{
    	font-weight: 300;
    	color: white;
		&__name{
			font-family: 'Inter';
    		font-style: normal;
			text-align: center;
			font-size: 18px;
		}
		&__position{
			font-family: 'Inter';
    		font-style: italic;
			text-align: center;
			color: rgb(202, 202, 202);
			font-size: 16px;
		}
		&__email{
			display: block;
			font-family: 'Inter';
    		font-style: normal;
			text-align: center;
			font-size: 16px;
			color: white;
		}
		&__phone{
			display: block;
			font-family: 'Inter';
    		font-style: normal;
			text-align: center;
			font-size: 16px;
			color: white;
		}
	}
}

.social{
	display: flex;
	align-items: center;
	gap: 30px;

	box-sizing: border-box;
	justify-content: center;
	position: relative;
    flex-wrap: wrap;
    display: flex;

	&__row{
		display: flex;
		justify-content: space-evenly;
		gap: 15px;

		align-items: center;
		flex-wrap: wrap;
	}

	&__item{
		flex: 0 1 20%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 5px;
	}

	&__ico{
		width: 100px;
		height: 100px;
	}

	&__text{
		font-size: 16px;
    	font-weight: 500;
    	color: white;
    	font-family: 'Inter';
    	font-style: normal;
		text-align: center;
	}
}

.popup-scale-img{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.85);
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px;

	&__body{
		max-width: 800px;
		display: flex;
		align-items: center;
		justify-content: center;

		img{
			border-radius: 15px;
			max-width: 80%;
			object-fit: contain;
		}
	}
	
	/* Animation */
	transition: all .5s ease-in-out;
	opacity: 0;
	visibility: hidden;
	
	&.opened{
		opacity: 1;
		visibility: visible;
	}
}

.courses{
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 15px;
	&__body{
		width: 100%;
		border-style: solid;
		border-radius: 25px;
		border-width: 3px;
		border-color: #A01212;
		padding: 0px 15px 15px 15px;
	}
	
	&__choice{
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 15px;
		@media (max-width: 750px) {
			display: grid;
			justify-items: center;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
		}


		input {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			display: none;}
	}

	&__options{
		position: relative;
		border-radius: 15px;
		overflow: hidden;
		cursor: pointer;
		border-style:solid;
		border-width: 3px;
		border-color: rgba(0, 0, 0, 0);

		&.selected{
			border-color: green;
			h4,h1{
				transition: all .5s ease-in-out;
				text-shadow: 5px 5px 5px black;
				background-color: rgba(0, 0, 0, 0.35);
			}
		}

		h4{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.65);
			color: white;
			font-family: "Inter";
		}
		h1{
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0%;
			left: 0%;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.65);
			color: white;
			font-family: "Inter";
		}
		img{
			max-width: 100%;
			@media (max-width: 750px) {
				max-height: 200px;
			}
		}
	}
	&__blockInput{
		display: flex;
		justify-content: center;
		align-items: center;
			input{
				max-width: 90%;
				background-color: #5A5A5A;
				display: flex;
				color: white;
				border-color: #A01212;
				padding: 10px;
				border-style: solid;
				border-width: 2px;
				border-radius: 15px;
				font-size: 20px;
				font-weight:600;
				font-family: "Inter";
				text-align: center;
				@media (max-width: 380px) {
					max-width: 240px;
				}
			}
	}
	&__sum{
		display: flex;
		justify-content: center;
		align-items: center;
		color: green;
		font-size: 20px;
		font-weight:600;
		font-family: "Inter";
		cursor: default;
	}
}
.courses__phone{
	&.valid{
		border-color: green;
	}
	&.invalid{
		border-color: #DE0F3F;
	}
}

.button{
	line-height: 60px;
	display: inline-block;
	cursor: pointer;
	text-transform: uppercase;
	padding: 0px 30px;
	font-size: 18px;
	border-radius: 25px;
	background-color:#A01212;
	color: white;

	position: relative;
	overflow: hidden;

	transition: all 1.5s ease 0s;
}
.button span{
	position:relative;
	z-index: 2;
	font-family: 'Inter Tight';
    font-style: normal;
	text-align: center;
}
.button:hover{
	color: black;
	background-color: green;
}
.button:hover:before{
	transition: scale(1);
	-webkit-transition: scale(1);
	-moz-transtion: scale(1);
	-ms-transition: scale(1);
	-o-transition: scale(1);
}